@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff") format("woff"), url("../fonts/cuprum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff") format("woff"), url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff") format("woff"), url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"), url("../fonts/cuprumbolditalic.woff") format("woff"), url("../fonts/cuprumbolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans Regular"), local("PTSans-Regular"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: local("PTSans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63a63e;
  --basic-icon: #c5c5c5;
  --basic-neutral: #e5e5e5;
  --basic-white: #ffffff;
  --basic-yellow: #ffbf47;
  --basic-blue: #3bbce3;
  --basic-pink: #dc91d8;
  --basic-light-green: #8ed78f;
  --basic-dark-blue: #32425c;
  --basic-background: #f1f5f7;
  --basic-black: #000;
  --basic-very-dark-blue: #293449;
  --basic-light-yellow: #f9f5f0;
  --basic-gray: #a9a9a9;
  --basic-yellow-footer: #ffd180;
  --basic-icon-blue: #3d546f;
  --basic-gray-light: #c5c5c5;

}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  /*
  display: grid;
  min-height: 100%;
  grid-template-rows: 320px 1fr 300px;
  */
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  visibility: hidden;
}

.page-header {
  background-color: var(--basic-background);
}

.page-header ul {
  list-style-type: none;
}

.header-top {
  background-color: var(--basic-very-dark-blue);
}

.header-bottom {
  background-color: var(--basic-background);
}

.logo {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active,
.logo-footer:active {
  background: #BA2732;
}

.search {
  border: 0px;
  background: var(--basic-very-dark-blue);
}

.search:hover .icon-search {
  fill: var(--basic-white);
}

.search:hover {
  background: none;
}


.search input:focus+svg {
  fill: var(--basic-red);
}




input[type="search"] {
  background: var(--basic-very-dark-blue);
  border: 0px;
  outline: none;
}

input[type="search"]::placeholder {
  color: var(--basic-white);
}

.icon-search {
  fill: var(--basic-icon);
}

.nav-profile {
  list-style-type: none;
}

.bookmarks:hover svg {
  fill: var(--basic-white);
  opacity: 1;
}

.cart:hover svg {
  fill: var(--basic-white);
  opacity: 1;
}

.nav-profile svg {
  fill: var(--basic-white);
  opacity: 0.3;
}

.bookmarks:active {
  background: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.cart:active {
  background: #161D29;
  color: rgba(255, 255, 255, 0.5);
}

.bookmarks:active svg {
  fill: rgba(255, 255, 255, 0.5);
}

.cart:active svg {
  fill: rgba(255, 255, 255, 0.5);
}

.cart-catalog {
  background: var(--basic-red);
}

.arrange {
  background: var(--basic-green);
}

.arrange:hover {
  background: #5FBB2D;
}

.arrange:active {
  color: rgba(255, 255, 255, 0.5);

}

.desc {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: var(--basic-red);
}

.phone {
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
}

.icon-phone {
  fill: var(--basic-icon);
}

.address {
  font-size: 14px;
  color: var(--basic-dark-blue);
}

.user {}

.btn-user {}

.btn-user a {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-user a:hover {
  color: var(--basic-red);
}

.btn-user a:hover svg {
  fill: var(--basic-icon-blue);
}

.btn-user a:active {
  color: var(--basic-icon);
}

.icon-login {
  fill: var(--basic-gray-light);
}

.btn-enter {}

.nav {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  box-shadow: inset 0px -5px 0px var(--basic-very-dark-blue);
}

.nav-link {
  list-style-type: none;
}

.nav-link a {}

.nav-link-active {}

.nav a:hover {
  background: var(--basic-very-dark-blue);
}

.nav a:active {
  background: #1d2739;
  color: #fff;
  opacity: 50%;
}

.new {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.container {
  background-color: var(--basic-white);
}

.menu {}

.menu-ul {
  list-style-type: none;
}

.block-menu {}

.materials {
  background-color: var(--basic-yellow);
}

.title-menu {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.btn-menu {
  background: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.btn-menu:hover {
  background: rgba(196, 196, 196, 0.3);
}

.btn-menu:active {
  background: rgba(169, 169, 169, 0.3);
}

.icon-menu {
  fill: var(--basic-white);
}

.tools {
  background: var(--basic-blue);
}

.technic {
  background: var(--basic-pink);
}

.discounts {
  background: var(--basic-light-green);
}

.delivery {
  background: var(--basic-yellow);
}

.slider {}

.btn-slider-left,
.btn-slider-right {
  border: none;
  background: none;
}

.pages-slider {
  list-style-type: none;
}

.slide {}

.slider-title {
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-desc {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
}

.button {
  outline: none;
  background: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  border: 0px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.pop-products ul {
  list-style-type: none;
}

.list-products {
  list-style-type: none;
}

.top-section {
  background: var(--basic-light-yellow);
  text-transform: uppercase;
}

.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  text-transform: uppercase;
}

.product {
  border: 1px solid #EAEAEA;
}

.name-product {
  font-family: PTSans, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item-image {}

.price {
  font-family: PTSans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--basic-gray);

}

.disc {
  font-family: PTSans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
  background: var(--basic-red);
}

.icon-cart-catalog {
  fill: rgba(255, 255, 255, 0.3);
}

.buttons-catalog-item {
  list-style-type: none;
}

.button-catalog-item button {
  border: 0px;
  background: var(--basic-green);
  outline: none;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.button-catalog-item button:hover {
  background: #5fbb2d;
}

.button-catalog-item button:active {
  background: #518534;
}

.button-bookmarks button {
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  background: none;
}

.button-bookmarks button:hover {
  border: 3px solid var(--basic-dark-blue);
}

.button-bookmarks button:active {
  border: 3px solid var(--basic-dark-blue);
  opacity: 0.5;
}

.pop-manufacturer ul {
  list-style-type: none;
}

.manufacturer {
  border: 1px solid #EAEAEA;
}

.manufacturer a:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturer a:active {
  opacity: 0.5;
}

.service {
  background: var(--basic-background);
}

.service ul {
  list-style-type: none;
}

.title-section {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-desc {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}



.button-service button {
  width: 240px;
  height: 61px;
  background: #32425C;
  color: var(--basic-white);
  border: 0px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.button-service button:focus {
  background: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-dark-blue)
}

.button-service button:hover {
  background: #293449;
}

.button-service-active button {
  background: var(--basic-white);
  color: var(--basic-dark-blue);
}

.block-serivce {}

.promo-info {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.transport-companies {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black)
}

.contacts {}

.office-map {
  font-family: PTSans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.footer {}

.footer-top {
  background: var(--basic-dark-blue);
}

.logo-footer {
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}


.footer-address {
  color: #f3f7f9;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.nav-footer {
  color: var(--basic-background);
}

.nav-footer ul {
  list-style-type: none;
}

.nav-footer a:hover {
  text-decoration: underline;
}

.nav-footer a:active {
  text-decoration: underline;
  opacity: 0.5;
}

.index-nav {

  list-style-type: none;
}

.index-nav a {
  color: var(--basic-yellow-footer);
}

.index-nav a:hover {
  text-decoration: underline;
}

.index-nav a:active {
  opacity: 0.5;
}

.footer-bottom {
  background: var(--basic-very-dark-blue);
}

.about-rights {
  color: var(--basic-white);
}



.footer-social {
  list-style-type: none;
}


.contact-info {
  list-style-type: none;
}

.contact-info p {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.contact-info a {
  color: var(--basic-yellow-footer);
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-mail {}

.footer-copyright {}

.btn-close {
  outline: none;
  border: 0;
  background: transparent;
}

.modal-feedback input {
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-gray-light);
  box-sizing: border-box;
  border-radius: 2px;
  background: var(--basic-white);
}

.submit {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: var(--basic-red);
  border: 0px;
  outline: none;
  color: var(--basic-white);
  width: 460px;
  height: 38px;
}

.modal-feedback div {
  background: #f4f4f4;
}

.block-user {
  background: var(--basic-white);
}

.user-name:hover svg {
  fill: var(--basic-icon-blue);
}

.logout:hover svg {
  fill: var(--basic-icon-blue);
}

.user-name:active {
  color: var(--basic-gray-light);
}

.block-user svg {
  fill: var(--basic-icon);
}



.user-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.menu-profile {
  list-style-type: none;
}

.btn-profile {
  color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.btn-profile:hover {
  color: var(--basic-red);
}

.btn-profile:active {
  color: var(--basic-gray-light);
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs a {
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.page-nav {
  list-style-type: none;

}

.page-nav a {
  background: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);

}

.page-nav a:hover {
  border: 1px solid var(--basic-icon);
}

.page-nav a:active {
  border: 1px solid var(--basic-red);
}

.page-nav a:focus {
  background: var(--basic-red);
  color: var(--basic-white)
}

.about-punchers {
  background: var(--basic-background);

}

.btn-show {
  background: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  box-sizing: border-box;
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal-cart h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.modal-cart ul {
  list-style-type: none;
  background: #f1f1f1;
}

.continue-shop {
  border: 0;
  background: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.manufacturers-catalog {
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sorting h2 {
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.but-up-down {
  list-style-type: none;
}

.but-up-down button {
  border: 0px;
  background: none;
  fill: var(--basic-icon);
}

.but-up-down button:hover {
  fill: var(--basic-black);
}

.but-up-down button:focus {
  fill: var(--basic-red);
}

.but-sort {
  list-style-type: none;

}

.but-sort button {
  font-family: PTSans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.but-sort button {
  border: 0px;
  border-bottom: 1px dotted var(--basic-red);
  background: none;

}


.but-sort button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.but-sort button:focus {
  border: 0px;
  color: var(--basic-red);

}

.but-up {
  transform: rotate(-180deg);
}

.btn-social-circle {
  fill: #212A3A;
}

.btn-social:hover .btn-social-circle {
  fill: var(--basic-red);
}
